
html {
  font-size: 10px;
}

body {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 26, 51);
  color: white;
  font-family: 'Karla', sans-serif;
}


h1 {
  text-align: center;
  font-size: 2.4rem;
  padding: 1%
}

h3 {
  font-size: 1.8rem;
  padding: 1%
}

h4 {
  font-size: 1.6rem;
  padding: 1%
}

h5 {
  font-size: 1.4rem;
  padding: 0.5%
}

p {
  font-size: 1.8rem;
  padding-left: 3%
}

label {
  margin: 1rem;
  font-size: 1.4rem;
}

input {
  background: white;
  color: black;
  font-size: 1.6rem;
  padding: 1%;
}


textarea {
  background: white;
  color: black;
  font-size: 1.4rem;
}

.btn {
  margin: 2%;
   padding: 1rem;
   font-size: 1.4em;
   align-content: middle;
   background-color:#7fa399;
   color: white;
}

#fbbtn{
  width: 20%;
  margin-top: -150%;
}

  #map {
    height: 40vw;
    color: black;
    
    
  }

  #map1 {
    height: 40vw;
  
  }

  #home {
    height: 800px;
    width: 1200px;
    margin-left: 0;
    position: relative;
    z-index: 9999;
    text-align: center;
    
  }

  #logo {
    margin-top: -5%;
    height: 50%;
  }

  #addplace {
    float: left;
  }


  #places {
    background-color: #d1786e;
  }

.check {
  margin-left: 5px;;
}


  /* google maps. */

  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }
  
  #infowindow-content .title {
    font-weight: bold;
  }
  
  #infowindow-content {
    display: none;
  }
  
  #map #infowindow-content {
    display: inline;
  }
  
  .pac-card {
    margin-right: 4%;
    float: right;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
    width: 60%;
    color: black;
  }
  
  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }
  
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
    color: black;
  }
  
  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  
  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }
  
  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }

  .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    color: black;
  }
  
  #origin-input,
  #destination-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 200px;
  }
  
  #origin-input:focus,
  #destination-input:focus {
    border-color: #4d90fe;
  }
  
  #mode-selector {
    color: #fff;
    background-color: #4d90fe;
    margin-left: 12px;
    padding: 5px 11px 0px 11px;
  }
  
  #mode-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 2%;
  }