<form action='/my-page/create-journal' method=POST>
  Journal name:<br>
  <input type="text" name="journalname"><br>
  City:<br>
  <input type="text" name="cityname"><br>
  {{!-- First day of your trip:<br>
  <input type="date" name="firstday"><br> --}}
  {{!-- How many days are you spending there?<br>
  <input type="number" name="numberofdays"><br> --}}
  <input type="submit" value="Submit">
</form>