<div id="home">

<h1>Hey!</h1>
<h2>Welcome to Travelz</h2>

<img id="logo" src="/images/logo_transparent.png">

<fb:login-button 
id="fbbtn"
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button>

<h2>First time here? <a href="/signup"> Sign up<a/></h2>
<h2>Already a member? <a href="/login"> Login</a></h2>


</div>





