<div id="home">

<h1>Hey!</h1>
<p>Welcome to Travelz</p>

<img id="logo" src="/images/logo_transparent.png">

<fb:login-button 
id="fbbtn"
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button>



</div>





