<div id="home">

<h1>Hey!</h1>
<h2>Welcome to Travelz</h2>

<img id="logo" src="/images/logo_transparent.png">

<<<<<<< HEAD
<p>Already have a account?</p>
<a class="btn" href="/login" role="button">Log in</a>

<p>Doesn't have an account yet? let's create it!</p>
<a class="btn" href="/signup" role="button">Sign up</a>

<p>Want to log-in with Facebook?</p>
    <fb:login-button 
    id="fbbtn"
      scope="public_profile,email"
      onlogin="checkLoginState();">
    </fb:login-button>
=======
<fb:login-button 
id="fbbtn"
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button>

<h2>First time here? <a href="/signup"> Sign up<a/></h2>
<h2>Already a member? <a href="/login"> Login</a></h2>

>>>>>>> c211a5105ae6487627fe9a1febf5bd6420b49c7b

</div>





