<div class="home">

<div id="hello" class="ml2">
  <h1>Hey!</h1>
  <h2>Welcome to Travelz</h2>
</div>


<img id="logo" src="/images/logo_transparent.png">

<div id="containerall">


<div id="container1">
<p>Already have a account?</p>
<a class="btnhome" href="/login" role="button">Log in</a>
</div>

<div id="container2">
  <p>Don't have an account yet? let's create it!</p>
<a class="btnhome" href="/signup" role="button">Sign up</a>
</div>

<div id="container3">
<p>Want to log-in with Facebook?</p>
<a class="btnhome" href="/auth/facebook" role="button"><i class="fa fa-facebook"></i> Login with Facebook</a>
</div>

</div>

</div>





