<div class="home">

<div id="hello">
  <h1>Hey!</h1>
  <h2>Welcome to Travelz</h2>
</div>


<img id="logo" src="/images/logo_transparent.png">

<div id="containerall">


<div id="container1">
<p>Already have a account?</p>
<a class="btn" href="/login" role="button">Log in</a>
</div>

<div id="container2">
  <p>Doesn't have an account yet? let's create it!</p>
<a class="btn" href="/signup" role="button">Sign up</a>
</div>

<div id="container3">
{{!-- <p>Want to log-in with Facebook?</p>
    <fb:login-button 
    id="fbbtn"
      scope="public_profile,email"
      onlogin="checkLoginState();">
    </fb:login-button> --}}

    <a href="/auth/facebook">Login with Facebook</a>
</div>

</div>

</div>





