{{#each journal}}

<h1>{{name}}</h1>
<h2>{{city}}</h2>
<div id='day'>
  <div id='places'>
    <div id="info"></div>
    <div id="photos"></div>
    <div id="mycomments"></div>
    <div id="friendscomments"></div>
    <input type="button" value="Delete Place">
  </div>

<div id="map"></div>
</div>

{{/each}}