
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active btn glyphicon glyphicon-home" href="/">   Home</a>
  </li>
  <br>
  <li class="nav-item">
    <a class="nav-link btn glyphicon glyphicon-user" href="#">   View profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn glyphicon glyphicon-pencil" href="#">   Edit your profile</a>
  </li>
<li class="nav-item" id="logout">
    <a class="nav-link btn" href="/logout">Logout</a>
  </li>
</ul>

  <div class="main">
      <h1>Welcome {{user.name}}</h1>
      <h1>Journals</h1>
      <div id="journalcontainer">
        {{#each journals}}
      <p>{{name}}</p>
      <a class="btn" href="/my-page/journals/journal-details/{{_id}}" role="button">See More</a>
      {{/each}}
      </div>
      
      <a class="btn glyphicon glyphicon-plus" id="addbtn" href="/my-page/create-journal">   Add a journal</a>
  </div>
   

