
<div>

  <div id="leftbar">
    <h1>Welcome {{user.firstname}}</h1>
    <div id="scrollmenu1">
      <h2>My Profile</h2>
      <a href="#">View profile</a>
      <a href="#">Edit your profile</a>
    </div>
    <div id="scrollmenu2">
      <h2 href="/my-page/journals">My Journals</h2>
      {{#each journals}}
      <a href="/my-page/journals/{{_id}}">{{name}}</a>
      {{/each}}
    </div>
    <div id="main">
      <a id="addbtn" href="/my-page/create-journal">Add a journal</a>
    </div>
      <a href="/logout">Logout</a>
  </div>

</div>